.section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img1{
    width: 450px;
}
.rojo{
    color: red;
    margin-left: auto;
    margin-right:auto;
    font-size: 1.5rem;
}
.amarillo{
    color: yellow;
    margin-left: auto;
    margin-right:auto;
    font-size: 1.5rem;
}
.verde{
    color: green;
    margin-left: auto;
    margin-right:auto;
    font-size: 1.5rem;
}
.azul{
    color: blue;
    margin-left: auto;
    margin-right:auto;
    font-size: 1.5rem;
}
.gridarea{
    display: grid;
    
}